/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 16px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 260px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: transform 250ms;
}

.card:hover {
    transform: scale(1.1);
}

.card::after {
    transform: scale(1);
    transition: all 250ms;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header, logo & menu *******/

.header {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 4.2rem;
    height: 1.3rem;
}

.nav-list {
    display: inline-block;
}

.nav-list-margin {
    margin-right: 4rem;
}

.menu-interactions {
    display: flex;
    height: 5.9rem;
    border-top: 2px solid var(--main-bg-color);
    align-items: center;
}
.menu-interactions:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Search formulae **********/

.geographical-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 28%;
    border: 1px solid var(--main-bg-color);
    border-radius: 1rem;
    border-right: var(--main-bg-color);
}

.fa-location-dot {
    color: black;
    border: 1px solid var(--main-bg-color);
}

.icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 15%;
    background-color: var(--main-bg-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; 
}

.input-field {
    height: inherit;
    width: 50%;
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
    padding-left: 1rem;
    opacity: 1;
    color: black;
    border: none;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 35%;
    background-color:var(--main-color);
    border: 1px solid var(--main-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-btn .search-text {
    color:var(--main-bg-color);;
    font-weight: bold;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.filter-list {
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    border: 2px solid var(--main-bg-color);
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.filters ul {
    margin: 0;
    padding: 0;
}

.search-formula {
    display: flex;
    flex-direction: column;
}

.search-formula h1 {
    margin-bottom: 0.5rem;
}

.search-formula p {
    margin: 0;
}

.filters p {
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.filter-list:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-list .fa-solid {
    margin-right: 0.5rem;
}

.infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.infosign {
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    border:1px solid var(--main-bg-color);
    border-radius:50%;
    position: relative;
    margin-right: 0.5rem;
}

.infosign .centered-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre l'élément */
}

.infosign .fa-info {
    font-size: 0.625rem;
    color: var(--main-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    row-gap: 30px;
    justify-content: space-between;
}
.hebergements-cards .card {
    display: flex;
    width: calc(33.333% - 30px); /* 30px de largeur en moins pour uniformiser le wrap */
}

.hebergements-cards .card-content {
    display: flex;
    width: 100%;
    flex-direction:column;
    box-sizing: border-box;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-txt {
    margin-left: 8px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-left: 8px;
    margin-top: 8px;
}

.hebergements-and-populaires .show-more {
    margin-top: 30px;
    margin-bottom: 0px;
}

.hebergements-and-populaires .show-more:hover {
    color: var(--main-color);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activités **********/

.activites section {
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
}

.activites-cards {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.activites-cards .card {
    display: flex;
    padding: 0;
    width: calc(25% - 30px);
    border-radius: 30px 30px 30px 30px;
}

.activites-cards .card-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.activites-cards img {
    height: 380px;
    object-fit:cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.activites-cards h3 {
    margin-left: 16px;
}

/********* Footer ***********/

.footer {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;   
}

.footer .infos {
    display: flex;
    width: 33.33%;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

.footer h3 {
    margin: 0px;
    font-size: 18px;
}

.footer a:hover {
    color: var(--main-color);
}